extends _index.pug

block state
  - const scripts = ['../key/index.min.js', '../text-editor/index.min.js', '../text-editor.history/index.min.js', '../text-editor.key/index.min.js', 'index.min.js']
  - const styles = ['../layout/index.min.css']
  - const theme = '#000'
  - const title = 'Text Editor Source ' + version

block script
  script
    | const editor = new TextEditor(document.querySelector('textarea'), {
    |     commands: {
    |         pull: function () {
    |             return this.pull().record(), false;
    |         },
    |         push: function () {
    |             return this.push().record(), false;
    |         },
    |         redo: function () {
    |             return this.redo(), false;
    |         },
    |         undo: function () {
    |             return this.undo(), false;
    |         }
    |     },
    |     keys: {
    |         'Control-[': 'pull',
    |         'Control-]': 'push',
    |         'Control-y': 'redo',
    |         'Control-z': 'undo'
    |     },
    |     tab: 4,
    |     with: [TextEditor.History, TextEditor.Key, TextEditor.Source]
    | });

block style
  style
    | mark {
    |   border-left: 1px solid #f00;
    |   border-right: 1px solid #f00;
    | }
    |
    | mark:empty {
    |   border-right-width: 0;
    | }

block content
  header
    h1
      a(href='../text-editor/index.html') &laquo;
      = ' ' + title
    p Source extension for #[a(href='../text-editor/index.html') Text Editor]. This extension provides a set of key strokes to generate responses like in a typical source code editor.
    hr
  main
    p
      label
        input(checked onchange='return TextEditor.Source[this.checked ? \'attach\' : \'detach\'].call(editor), false;' type='checkbox')
        = ' '
        span Enable Source Editor
    p
      textarea(placeholder!='Code goes here&hellip;' spellcheck='false' style={
        'display': 'block',
        'width': '100%'
      })
    p(role='group')
      button(onclick='return editor.toggle(\'<b>\', \'</b>\').record(), false;') Test Toggle
    h2 Features
    ul
      li <code>(<mark></mark>)</code>, <code>[<mark></mark>]</code>, <code>{<mark></mark>}</code>, <code>'<mark></mark>'</code>, <code>"<mark></mark>"</code>, or <code>&lt;<mark></mark>&gt;</code> then press <kbd>Enter</kbd>.
      li <code>(<mark></mark>)</code>, <code>[<mark></mark>]</code>, <code>{<mark></mark>}</code>, <code>'<mark></mark>'</code>, <code>"<mark></mark>"</code>, or <code>&lt;<mark></mark>&gt;</code> then press <kbd>Backspace</kbd>.
      li <code>(<mark></mark>)</code>, <code>[<mark></mark>]</code>, <code>{<mark></mark>}</code>, <code>'<mark></mark>'</code>, <code>"<mark></mark>"</code>, or <code>&lt;<mark></mark>&gt;</code> then press <kbd>&nbsp;</kbd> (Space).
      li <code>(<mark>asdf</mark>)</code>, <code>[<mark>asdf</mark>]</code>, <code>{<mark>asdf</mark>}</code>, <code>'<mark>asdf</mark>'</code>, <code>"<mark>asdf</mark>"</code>, or <code>&lt;<mark>asdf</mark>&gt;</code>, then press <kbd>Backspace</kbd>.
      li <code>(<mark>asdf</mark>)</code>, <code>[<mark>asdf</mark>]</code>, <code>{<mark>asdf</mark>}</code>, <code>'<mark>asdf</mark>'</code>, <code>"<mark>asdf</mark>"</code>, or <code>&lt;<mark>asdf</mark>&gt;</code>, then press <kbd>Delete</kbd>.
      li <code><mark>asdf</mark> asdf</code>, then press <kbd>Control</kbd> + <kbd>ArrowRight</kbd>.
      li <code><mark>asdf</mark></code> then press <kbd>(</kbd>, <kbd>[</kbd>, <kbd>{</kbd>, <kbd>'</kbd>, <kbd>"</kbd>, or <kbd>&lt;</kbd>.
      li <code><mark>asdf</mark></code> then press <kbd>)</kbd>, <kbd>]</kbd>, <kbd>}</kbd>, or <kbd>&gt;</kbd>.
      li <code>as<mark></mark>df</code> or <code><mark>asdf</mark></code>, then press <kbd>Control</kbd> + <kbd>ArrowUp</kbd>.
      li <code>as<mark></mark>df</code> or <code><mark>asdf</mark></code>, then press <kbd>Control</kbd> + <kbd>ArrowDown</kbd>.
      li <code>as<mark></mark>df</code> or <code><mark>asdf</mark></code>, then press <kbd>Control</kbd> + <kbd>Enter</kbd>.
      li <code>as<mark></mark>df</code> or <code><mark>asdf</mark></code>, then press <kbd>Control</kbd> + <kbd>Shift</kbd> + <kbd>Enter</kbd>.
      li <code>asdf <mark>asdf</mark></code>, then press <kbd>Control</kbd> + <kbd>ArrowLeft</kbd>.
      li Press <kbd>(</kbd>, <kbd>[</kbd>, <kbd>{</kbd>, <kbd>'</kbd>, <kbd>"</kbd>, or <kbd>&lt;</kbd>.
    h2 Usage
    h3 Browser
    pre: code
      | &lt;script src="#[a(href='../text-editor/index.min.js' target='_blank') ./text-editor/index.min.js]"&gt;&lt;/script&gt;
      | &lt;script src="#[a(href='../text-editor.history/index.min.js' target='_blank') ./text-editor.history/index.min.js]"&gt;&lt;/script&gt;
      | &lt;script src="#[a(href='../text-editor.key/index.min.js' target='_blank') ./text-editor.key/index.min.js]"&gt;&lt;/script&gt;
      | &lt;script src="#[a(href='index.min.js' target='_blank') ./text-editor.source/index.min.js]"&gt;&lt;/script&gt;
      | &lt;script&gt;
      |
      |   const editor = new TextEditor(document.querySelector('textarea'), {
      |       commands: {
      |           pull: function () {
      |               return this.pull().record(), false;
      |           },
      |           push: function () {
      |               return this.push().record(), false;
      |           },
      |           redo: function () {
      |               return this.redo(), false;
      |           },
      |           undo: function () {
      |               return this.undo(), false;
      |           }
      |       },
      |       keys: {
      |           'Control-[': 'pull',
      |           'Control-]': 'push',
      |           'Control-y': 'redo',
      |           'Control-z': 'undo'
      |       },
      |       tab: 4,
      |       with: [TextEditor.History, TextEditor.Key, TextEditor.Source]
      |   });
      |
      | &lt;/script&gt;
    h3 CommonJS
    pre: code
      | const TextEditor = require('@taufik-nurrohman/text-editor').default;
      | const TextEditorHistory = require('@taufik-nurrohman/text-editor.history').default;
      | const TextEditorKey = require('@taufik-nurrohman/text-editor.key').default;
      | const TextEditorSource = require('@taufik-nurrohman/text-editor.source').default;
      |
      | const editor = new TextEditor(document.querySelector('textarea'), {
      |     commands: {
      |         pull: function () {
      |             return this.pull().record(), false;
      |         },
      |         push: function () {
      |             return this.push().record(), false;
      |         },
      |         redo: function () {
      |             return this.redo(), false;
      |         },
      |         undo: function () {
      |             return this.undo(), false;
      |         }
      |     },
      |     keys: {
      |         'Control-[': 'pull',
      |         'Control-]': 'push',
      |         'Control-y': 'redo',
      |         'Control-z': 'undo'
      |     },
      |     tab: 4,
      |     with: [TextEditorHistory, TextEditorKey, TextEditorSource]
      | });
    h3 ECMAScript
    pre: code
      | import TextEditor from '@taufik-nurrohman/text-editor';
      | import TextEditorHistory from '@taufik-nurrohman/text-editor.history';
      | import TextEditorKey from '@taufik-nurrohman/text-editor.key';
      | import TextEditorSource from '@taufik-nurrohman/text-editor.source';
      |
      | const editor = new TextEditor(document.querySelector('textarea'), {
      |     commands: {
      |         pull: function () {
      |             return this.pull().record(), false;
      |         },
      |         push: function () {
      |             return this.push().record(), false;
      |         },
      |         redo: function () {
      |             return this.redo(), false;
      |         },
      |         undo: function () {
      |             return this.undo(), false;
      |         }
      |     },
      |     keys: {
      |         'Control-[': 'pull',
      |         'Control-]': 'push',
      |         'Control-y': 'redo',
      |         'Control-z': 'undo'
      |     },
      |     tab: 4,
      |     with: [TextEditorHistory, TextEditorKey, TextEditorSource]
      | });
    h2 Methods
    h3 Instance Methods
    h4: code editor.toggle(open, close = open, wrap = false, tidy = false)
    p Toggle wrap and peel selection with #[code open] and #[code close] string.
    pre: code
      | editor.toggle('&lt;b&gt;', '&lt;/b&gt;');
  footer
    hr
    p
      != '&copy; ' + year + ' '
      a(href='/') Taufik Nurrohman